<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}
  <title>Ruven's Website</title>
  {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #037252 ;">

<nav class="navbar navbar-default" style="color: #808080 ;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Ruven's Website</a>
    </div>
    <ul class="nav navbar-nav" >
      <li class="active"><a href="/">Home</a></li>
      <li><a href="{{ url_for('hobbies') }}">Hobbies</a></li>
      <li><a href="{{ url_for('family') }}">Family</a></li>
      <li><a href="{{ url_for('workexperirnce') }}">Work experirnce</a></li>
        <li><a href="{{ url_for('eduction') }}">Eduction</a></li>
      <li><a href="{{ url_for('feedback') }}">Feedback</a></li>
    </ul>
  </div>
</nav>
{% block content %}
<div class="container">
  <h2>Welcome Home</h2>
  <p>This is a just home page example.</p>
</div>
{% endblock %}
</body>
</html>
