{% extends 'base.html' %}
{% block title %}
  <title>Feedback Page</title>
{% endblock %}

{% block content %}
<body class="text-center backgroundweb">
    <div class="container">
        <form method="POST" class="form-register mainfont" >
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
                Share your opnion about the web
            </h1>
            <br>


            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}

            {{ form.email.label() }}
            {{ form.email(class="form-control", placeholder="Email Address") }}

             {{ form.descreption.label() }}
             {{ form.descreption(class="form-control", placeholder="Comment") }}
            <br>

            {{ form.submit(class="btncomment btn-block ") }}

        </form>


    </div>
</body>
<body class=" container text-center mainfont">
    <h1 class="mainfont text-center">What people think about this website?</h1>
    <div class="container text-center" >
        <ol>
        {% for item in users_comments %}

                <br>
                <li>Name: {{ item.name}}
                    <br>{{ item.description}}</li></br>
                 </li></br>
            {% endfor %}
        </ol>
    </div>

</body>

{% endblock %}