{% extends 'base.html' %}


{% block content %}
    <body class="backgroundweb">
<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <h1 class="title">
                {{ current_user.username }}'s Profile
            </h1>
            <h2 class="subtitle">
                You are user number #{{current_user.id}}
            </h2>
            <h2>Update Password?</h2>
            <form method="POST" action="">
                {{ form.csrf_token() }}
                {{ form.hidden_tag() }}
                {{ form.oldpassword }}
                {{ form.newpassword }}
                {{ form.submit }}
            </form>
        </div>
    </div>
</section>

</body>
{% endblock %}