{% extends 'base.html' %}

{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    line-height: 2;
    font-size: medium;
}


</style>
<link rel="stylesheet" href="../static/css/main.css">
<div class="container">
<table>
  <tr>
    <th style="font-weight: bold">Years</th>
    <th style="font-weight: bold">Work Place</th>
    <th style="font-weight: bold">Role</th>
  </tr>
  {% for item in experirnces %}
  <tr>
    <td style="font-weight: bold">{{ item.years}}</td>
    <td style="font-weight: bold">{{ item.company}}</td>
    <td>{{ item.role}}</td>
  </tr>
  {% endfor %}
</table>
</div>
    <footer>
        <p class="copyright">Created by Ruven Milshtein. © 2022</p>
    </footer>
{% endblock %}
